#map {
  background-color: #27094e; /*
 background-image: url(./media/55579313.png);*/
  width: 1000px;
  height: 600px;
  z-index: -252;
  border-style: solid;
  border-width: 5px;
}

#bob {
  pointer-events: none;
  z-index: -152;
  position: fixed;
  top: -159px;
  left: 50%;
  transform: translate(-50%, 0%);
}

body {
  background-color: #2f095a;

  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Cuttujemwud";
  src: local("Cuttujemwud"),
    url(./media/fonts/DarkCollege.otf) format("opentype");
}

@font-face {
  font-family: "atkinson-regular";
  src: local("atkinson-regular"),
    url(./media/fonts/AtkinsonHyperlegible-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "BOB"; /*a name to be used later*/
  src: url(./media/fonts/BOBopis7.ttf); /*URL to font*/
}

@font-face {
  font-family: "maksi"; /*a name to be used later*/
  src: url(./media/fonts/Maxico.otf); /*URL to font*/
}

@font-face {
  font-family: "rango"; /*a name to be used later*/
  src: url(./media/fonts/Rangile.ttf); /*URL to font*/
}

@font-face {
  font-family: "mitogen"; /*a name to be used later*/
  src: url(./media/fonts/MitogenDisplay.ttf); /*URL to font*/
}

* {
  font-family: mitogen;
}
h1 {
  color: #ffffff;
  padding: 15px;
  font-size: 3rem;
  text-align: center;
  text-shadow: 0 0 5px #7c18ff;
  background-color: #000000;
  border-radius: 1rem;
}

h2 {
  color: #ffffff;
  text-shadow: 0 0 5px #7c18ff;
  background-color: #000000;
  border-radius: 0.4rem;
  width: fit-content;
  padding: 0.5rem;
  padding-inline: 1rem;
}

h3 {
  color: #ffffff;
}

h4 {
  color: #ffffff;
}

p {
  color: white;
}

.bob {
  font-family: BOB;
  font-weight: 900;
}
